
@{
    ViewBag.Title = "NewClub";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Yeni Klup Oluşturma</h2>

<form method="post" class="form-group">
    <div>
        <label>Klup Adı</label>
        <input type="text" class="form-control" name="KULUPAD" />
    </div>
    <div style="margin-top:10px">
        <button class="btn btn-info">Klup Ekle</button>
    </div>
</form>