
@{
    ViewBag.Title = "NewNote";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div>
    <form method="post" class="form-group">
        <div>
            <label>Öğrenci Id</label>
            <input type="text" class="form-control" name="OGRID" />
            <label>Ders Adı</label>
            <input type="text" class="form-control" name="DERSID" />
            <label>Sınav 1</label>
            <input type="text" class="form-control" name="SINAV!" />
            <label>Sınav 2</label>
            <input type="text" class="form-control" name="SINAV''" />

            <label>Sınav 3</label>
            <input type="text" class="form-control" name="SINAV3" />
            <label>Proje</label>
            <input type="text" class="form-control" name="PROJE" />
            <label>Ortalama</label>
            <input type="text" class="form-control" name="ORTALAMA" />
            <label>Durum</label>
            <input type="text" class="form-control" name="DURUM" />

        </div>

       
        <div style="margin-top:10px">
            <button class="btn btn-info">Sınav Ekle</button>
        </div>
    </form>
</div>

